<!-- Creating a partial which will used to share the code of the form for new and edit -->
<% if @article.errors.any? %>
  <div class="row">
    <div class="alert alert-danger">
      <div class="panel-heading">
        <h2 class="panel-title">
          <%= pluralize(@article.errors.count, "error") %>
          prohibited this article from being saved:
        </h2>
        <div class="panel-body">
          <ul>
            <% @article.errors.full_messages.each do |msg|%>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%=form_with model: article do |form| %>
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <%= form.label :title,{ class: "form-label"}%><br>
        <%=form.text_field :title,{ class: "form-control", placeholder: "Title" } %>
      </div>

      <div class="mb-3">
        <%=form.label :body,{ class: "form-label"} %>
        <%=form.text_area :body ,{ class: "form-control", placeholder: "Article Body" }%>
      </div>

      <div class="mb-3">
        <%=form.label "Photo" %>
        <%=form.file_field :avatar %><br>
      </div>
      <div>
        <%= form.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
